

body {
  background: white;
  font-family: sans-serif;
}

nav {

    display: flex;

    text-align:  right;
    margin-top: 1em;
    font-size: 0.9em;



}
nav a{
    text-decoration: none;
    padding: 2em;
    color: #5badf0;
    border-radius: 5px;

    transition: color 0.5s;


}
nav a:last-child{
  background: #5badf0;
  color:white;
  border-radius: 5px;
  transition: 1s;
}
nav a:not(:last-child):hover{
  background-color: pink;
}

header{
  text-align: center;
  margin-top: 6em;

}
h1{
  font-size: 4em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  letter-spacing: -2px;
}

h2{
  font size; 3em;
  text-decoration: none;
  color: black;
  font-weight: normal;
  margin-top: 0.1em;
}
h3 {
  font-weight:normal;;
  margin: 0; 
}

a{
  text-decoration: none;

}
a:hover{
  text-decoration: underline;
}

img{
  border-radius: 40%;
}
span{
  color: skyblue;
}

main{
  width: 550px;
  margin: 0 auto;
}

article{
  display: flex;
  align-items: flex-start;
}
section{
  margin-left: 1.3em;
}
p{
  line-height: 1.6em;
}
